.paint-canvas {
  border: 1px black solid;
  display: block;
  margin: 1rem;
}

#style-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#style-color::-webkit-color-swatch {
  border-radius: 10px;
  border: none;
}

#style-color::-moz-color-swatch {
  border-radius: 10px;
  border: none;
}

.draw-tools{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 1rem;
}

.btn {
  /*border: 1px solid #3498db;*/
  background: none;
  padding: 15px 15px;
  font-size: 100%;
  cursor: pointer;
}

#borrar-todo i{
  color:rgb(219, 81, 81);
}

#lapiz-dibujar i{
  color:rgb(59, 59, 59);
}

#lapiz-borrador i{
  color:rgb(81, 106, 219);
}