.paint-canvas {
  border: 1px black solid;
  display: block;
  margin: 1rem;
}

.color-picker {
  margin: 1rem 1rem 0 1rem;
}

button{
  all: unset;
  cursor: pointer;
}

#borrar-todo{
  display: flex;
  align-items:center;
  justify-content: center;
  gap:5px;
}

#borrar-todo i{
  color:rgb(219, 81, 81);
}

#borrar-todo:hover{
  cursor: pointer;
}

#lapiz-escribir{
  display: flex;
  align-items:center;
  justify-content: center;
  gap:5px;
}

#lapiz-escribir i{
  color:rgb(81, 219, 111);
}

#lapiz-escribir:hover{
  cursor: pointer;
}

#lapiz-borrador{
  display: flex;
  align-items:center;
  justify-content: center;
  gap:5px;
}

#lapiz-borrador i{
  color:rgb(81, 106, 219);
}

#lapiz-borrador:hover{
  cursor: pointer;
}